/* * {
    border: 1px solid red;
} */

.navbar-toggler-icon {
    background-image: url(../Ressources/icone-burger.png) !important;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../Ressources/bgimage.png');
    background-attachment: fixed;
}


.orange {
    background-image: url('/Ressources/tissu-orange-2.jpg');
    text-shadow: 3px 3px 3px black;
}

.vert {
    background-image: url('../Ressources/bg-image.jpg');
}

@font-face {
    font-family: 'mexicain';
    src: url('../Ressources/polices/Rye-Regular.ttf');
}

/*NAVBAR HAUT DE PAGE COMMUNE A TOUTE PAGE */
#navbar {
    display: flex;
    background-image: url('../Ressources/bg-image.jpg');
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: top 0.3s;
    z-index: 5;
}

.navbar-hidden {
    top: -100px;
    /* Déplace la barre de navigation hors de la vue */
}

#logo-patroñ {
    width: 100px;
    border-radius: 100px;
    margin-right: 30px;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

li {
    padding-left: 50px;
    padding-right: 50px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}


/*INDEX.PHP*/
/*CONTAINER DE L'IMAGE avec  AVEC LE LIEN "CONSULTER LE MENU"*/
.contain-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/Ressources/heroimage2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
}

/* #plats-table{
    width: 100%;
    height: 50vh;
} */
#consulter-le-menu {
    padding: 0.5%;
    border-radius: 20px;
    box-shadow: 1px 3px 20px 2px #00000082;
    /* font-size: clamp(1rem, 0.1rem + 1vw, 1.5rem + 1vw); */
}

#consulter-le-menu:hover {
    border-radius: 70px;
    opacity: 0.9;
    box-shadow: inset 1px 3px 18px 2px #000000ad;
}



/*PARAGRAPHE DU BLOC DESCRIPTION SOUS LA DIV IMG*/
#p-description {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 85%;
    margin: 0 auto;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    /* font-size: clamp(0.6rem, 0.65rem + 1vw, 1.5rem + 2vw); */
    overflow: auto;


}

/*CONTAINER AVEC 2 BLOC PAR LIGNE IMAGE ET TEXT AVEC LIEN*/
.container-bloc {
    /* margin-top: 40px; */
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 10% 30% 30% 10%;
    grid-template-rows: 1fr;
    column-gap: 16px;
}

/*PROPRIETE POUR TOUS LES BLOCS IMAGES*/
.bloc-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;

    box-shadow: inset 3px 3px 20px 8px #6d6969cc;
}

/*PROPRIETE POUR TOUS LES BLOCS DESCRIPTIONS*/
.bloc-description {
    box-sizing: border-box;
    align-items: center;
    margin: auto;
    margin-bottom: 16px;
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.85fr 0.7fr 1fr 1fr 1fr 0.5fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        "desc desc desc"
        "desc desc desc"
        "desc desc desc"
        "desc desc desc"
        ". . ."
        "btn btn btn";
    box-shadow: 2px 1px 20px 4px black;
    overflow: auto;
}

/*PROPRIETE TITRE POUR TOUS LES TITRES DES BLOCS DESCRIPTION */
.titre-description {
    width: max-content;
    margin: auto;
    padding: 10px;
    font-family: "mexicain";
    color: green;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

/*PROPRIETE POUR TOUS LES TEXTES DES BLOCS DESCRIPTIONS*/
.p-description {
    /* font-size: clamp(1rem, 0.75rem + 1vw, 1.5rem + 1vw); */
    height: max-content;
    grid-area: desc;
    text-align: center;
    overflow-y: auto;
    margin: 3%;
    text-shadow: 3px 3px 3px black;
}

/*POSITION DU BOUTON LIEN DANS LES BLOCS DESCRIPTIONS*/
.btn {
    grid-area: btn;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 1px 3px 20px 2px #00000082;
}

/*EFFET SUR LES BOUTON*/
.btn:hover {
    border-radius: 70px;
    opacity: 0.9;
    box-shadow: inset 1px 3px 18px 2px #000000ad;
}

/*BLOC IMAGE 2*/
.bloc-image.un {
    background-image: url("../Ressources/restaurant-exterieur-2.jpg");
    grid-column: 1/3;
}

/*BLOC DESCRIPTION 2*/
.bloc-description.un {
    grid-row: 1;
    grid-column: 3/5;
}

/*BLOC IMAGE 2*/
.bloc-image.deux {
    background-image: url("../Ressources/image-plat.jpg");
    grid-column: 3/5;
}

/*BLOC DESCRIPTION 2*/
.bloc-description.deux {
    grid-row: 2;
    grid-column: 1/3;
}

/*BLOC IMAGE 2*/
.bloc-image.trois {
    background-image: url("../Ressources/restaurant-interieur-2.jpg");
    grid-column: 1/3;
}

/*BLOC DESCRIPTION 3*/
.bloc-description.trois {
    grid-row: 3;
    grid-column: 3/5;
}

/*BLOC IMAGE 4*/
.bloc-image.quatre {
    background-image: url("../Ressources/plat\ à\ emporter.jpg");
    grid-column: 3/5;
}

/*BLOC DESCRIPTION 4*/
.bloc-description.quatre {
    grid-row: 4;
    grid-column: 1/3;
}

/*LIEN EN VERT */
.bloc-description-lien {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding: 1%;
    grid-row: 9;
}

/*BLOC SAVOIR FAIRE ORGANISATION DEVENEMENT (SITUER SOUS LES BLOCS DESCRIPTION /IMAGE) QUI ENGLOBE BLOC SAVOIR FAIRE ET BLOC ORGANISATION DEVENEMENT*/
#bloc-savoir-faire-organisation-devenement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

/*POSITION DU BLOC SAVOIR-FAIRE*/
#bloc-savoir-faire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*PROPRIETE POUR LE TITRE DU BLOC SAVOIR FAIRE*/
#titre-bloc-savoir-faire {
    color: green;
    font-family: 'mexicain';
    margin-bottom: 0;
}

/*TRAIT SOUS LE TITRE DU BLOC SAVOIR-FAIRE*/
.trait-1 {
    height: 2px;
    width: 100% !important;
    background-color: orange;
    position: relative;
    bottom: 12px;
    opacity: 1;
    transform: rotateX(180deg);
    z-index: 1;
    margin-bottom: 0;
}

/*PROPRIETE TAILLE DE POLICE ET LARGEUR POUR LE TEXTE DU BLOC SAVOIR-FAIRE*/
#description-savoir-faire {

    width: 80%;
}

/*LARGEUR DU BLOC ORGANISATION-DEVENEMENT*/
#bloc-organisation-devenement {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*TITRE DU BLOC ORGANISATION-DEVENEMENT*/
#bloc-organisation-devenement #titre-bloc-organisation-devenement {
    color: white;
    font-family: 'mexicain';
    margin-top: 24px;
    white-space: nowrap;
    text-align: center;
    position: relative;
}

#titre-bloc-organisation-devenement {
    width: min-content;
}

/* Pseudo-élément pour le trait vert */
#bloc-organisation-devenement #titre-bloc-organisation-devenement::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: green;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    #bloc-organisation-devenement #titre-bloc-organisation-devenement {
        white-space: normal;
        /* Permet au texte de se wrap sur plusieurs lignes */
    }
}

#bloc-organisation-devenement * {
    white-space: normal;
    max-width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*TRAIT SOUS LE TITRE DU BLOC ORGANISATION DEVENEMENT*/
#trait-2 {
    height: 2px;
    width: 100%;
    background-color: green;
    position: relative;
    bottom: 12px;
    opacity: 1;
    transform: rotateX(180deg);
    z-index: 1;
}

/*PROPRIETE DU 1ER PARAGRAPHE DU BLOC ORGANISATION DEVENEMENT*/
#p-1-description-oraganisation-devenement {
    color: white;
    display: flex;
    width: 50vw;
    margin: 24px auto;
}

/*PROPRIETE DU 2EME PARAGRAPHE DU BLOC ORGANISATION DEVENEMENT*/
#p-2-description-oraganisation-devenement {
    color: white;

}

/*PROPRIETE DU LIEN DU BLOC ORGANISATION DEVENEMENT*/
#bloc-contact {
    width: 10%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 1px 3px 20px 2px #00000082;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

#bloc-contact:hover {
    border-radius: 70px;
    opacity: 0.9;
    box-shadow: inset 1px 3px 18px 2px #000000ad;
}

/*BLOC QUI CONTIENT LA MEME BACKGROUND-IMAGE QUE LA 1ERE CONTAIN-IMAGE*/
.contain-img.deux {
    height: 45vh;
}

/*FOOTER AVEC PROPRIETE DE POSITIONNEMENT POUR LES BLOC ENFANTS*/
#footer {
    display: grid;
    grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;
    justify-content: center;

}

/*POSITION DU BLOC QUI CONTIENT LE LOGO DANS LE PARENT FOOTER*/
.bloc-footer.logo-patron {
    grid-column: 1/4;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
}

/*DIMENSION POUR LE LOGO*/
#logo-patroñ-footer {
    width: 50%;
    border-radius: 150px;
}

/*POSITION DU 2EME BLOC QUI CONTIENT TITRE PARAGRAPHE ET CARTE DANS LE PARENT FOOTER */
.bloc-footer.carte {
    grid-column: 4/6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

/*TITRE DU BLOC FOOTER CARTE*/
#titre-restaurant-footer {
    color: white;
    width: 100%;
    margin-bottom: 0;
}

/*PARAGRAPHE DU BLOC FOOTER CARTE*/
#p-adresse-restaurant-footer {
    color: white;
    width: 130%;
    margin-bottom: 0;

}

/*DIMENSIONS DE LA CARTE DU BLOC FOOTER CARTE*/
#carte-adresse {
    width: 140%;
    height: 30vh;
}

/*POSITIONNEMENT DU DES LOGOS DU BLOC FOOTER LOGO*/
.bloc-footer.logo-sociaux {
    display: flex;
    flex-direction: column;
    grid-column: 7/9;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

/*TAILLE DES LOGO*/
.logo-img {
    width: 70px;
}

/*POSITION DU BLOC FOOTER HORAIRE DANS LE PARENT FOOTER*/
.bloc-footer.horaire {
    grid-column: 9/13;
    display: flex;
}

/*POSTIONNEMENT DU BLOC LISTE HORAIRE DANS LE PARENT FOOTER HORAIRE*/
#liste-horaire {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
}

/*TITRE DU BLOC LISTE HORAIRE*/
#p-horaire {
    width: 100%;
}

/*PROPRIETE POUR LA LISTE HORAIRE*/
#liste-horaire li {
    padding: 0;
    /* line-height: 2.5; */
}

/* Personnaliser la scrollbar */

body {
    --scrollbar-width: 1.3vw;
}

body::-webkit-scrollbar {
    width: var(--scrollbar-width);
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-image: url('../Ressources/bg-image.jpg');
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-image: url('../Ressources/tissu-orange-2.jpg');
    /* color of the scroll thumb */
    border-radius: calc(var(--scrollbar-width)/2);
    /* roundness of the scroll thumb */
    border: calc(var(--scrollbar-width)/8) solid rgb(6, 77, 6);
    /* creates padding around scroll thumb */
}






/* @media screen and (min-width:769px) and (max-width: 1439px) {
    .fst-2{
        font-size:  1.5rem;
     }
     .fsp-3{
        font-size: 1.3rem;
     }
} */



@media screen and (max-width: 768px) {
    #p-description {
        width: 90%;
        text-align: center;

    }

    #bloc-contact {
        width: auto;
        margin-left: 40%;
        margin-right: 40%;
    }


    .contain-img.deux {
        height: 100px;
    }

    #footer {
        display: flex;
        flex-direction: column;
    }

    .bloc-footer.logo-patron {
        display: flex;
        margin-top: 30px;
    }

    #logo-patroñ-footer {
        width: 30%;
        border-radius: 300px;
    }

    .bloc-footer.carte {
        align-items: center;
        margin-top: 30px;
    }

    #titre-restaurant-footer {
        color: white;
        text-align: center;

    }

    #p-adresse-restaurant-footer {
        color: rgb(255, 255, 255);
        width: 65%;
        margin-top: 0;
        align-self: center;
        text-align: center;
    }

    #carte-adresse {
        width: 100%;
        height: 20vh;
        margin-top: 10px;
    }

    .bloc-footer.logo-sociaux {
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .bloc-footer.horaire {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #liste-horaire {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: flex-start;
    }

    #p-horaire {
        text-align: center;
        font-size: 1.3rem;
        margin-top: 5px;
    }

    #liste-horaire li {
        padding: 0;
        font-size: 1.2rem;
        line-height: 1.1;
    }

    .logo-img {
        width: 60px;
    }

    /* .fs-clamp-b{ de 12px a 14px min vw 426px max vw 768px */
    /* font-size: clamp(0.75rem, 0.6607rem + 0.4464vw, 0.875rem)!important;
} */
    /* .fst-1{24px a 48px */
    /* font-size: clamp(1.5rem, 0.4286rem + 5.3571vw, 3rem)!important;
}
.fst-2{
    font-size: clamp(1rem, -0.0714rem + 5.3571vw, 2.5rem)!important;
} */


}

@media screen and (max-width: 426px) {
    .mtb-4 {
        margin-top: 46px;
    }

    .mtb-16 {
        margin-top: 16px;
    }

    .mtb-24 {
        margin-top: 27px;
    }


    #description {
        margin-top: 0;
    }

    .container-bloc {
        margin-top: 0;
    }

    .container-bloc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-bloc div {
        margin: 6%;
    }

    .container-img-description {
        margin-top: 0;
    }

    .bloc-image.un {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bloc-image.deux {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bloc-image.trois {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bloc-image.quatre {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bloc-description.un {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bloc-description.deux {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bloc-description.trois {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bloc-description.quatre {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #p-description {
        width: 100%;
    }

    #p-1-description-oraganisation-devenement {
        width: 100%;
    }

    #p-2-description-oraganisation-devenement {
        width: 100%;
    }

    #bloc-contact {
        width: 35%;
    }


    #footer {
        display: flex;
        flex-direction: column;
    }

    .bloc-footer.logo-patron {
        display: flex;
        margin-top: 30px;
    }

    #logo-patroñ-footer {
        width: 50%;
        border-radius: 300px;
    }

    .bloc-footer.carte {
        align-items: center;
        margin-top: 30px;
    }

    #titre-restaurant-footer {
        color: white;
        text-align: center;

    }

    #p-adresse-restaurant-footer {
        color: rgb(255, 255, 255);
        width: 65%;
        margin-top: 0;
        align-self: center;
        text-align: center;
    }

    #carte-adresse {
        width: 100%;
        height: 20vh;
        margin-top: 10px;
    }

    .bloc-footer.logo-sociaux {
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .bloc-footer.horaire {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #liste-horaire {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: flex-start;
    }

    #p-horaire {
        text-align: center;
        font-size: 1.3rem;
    }

    #liste-horaire li {
        padding: 0;
        font-size: 1.2rem;
        line-height: 1.1;
    }
}